  *{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: gray; 
    text-align: left;
    padding: 20px 0 20px 0;
}
.nav > li{
   display: inline-block; 
   padding-right: 50px;
}
.nav >li >a{
    text-decoration: none;
    color: black;
}
.nav > li > a:hover{
    color: blue;
}
h1{
    font-family: arial;
    line-height: 40px;
    text-align: center;
}
img{
    width: 500px;
    height: auto;
    position: relative;
     margin: 100px; 
    transform: translateX(5rem);
    
    padding: 50px;
    background-color: rgb(255, 255, 255);
    
}

p{
    font-family: arial;
    line-height: 40px;
}

.strong{
    position: relative;
     color: blue;
     font-size: 30px;
     transform: translateX(5rem);
     left: 50%;
}

.man{
    background-color: rgb(116, 85, 85);
    padding: 5rem;
    background-color: aquamarine;

}

input, button{
    position: relative;
    background-color: #fff;
    left: 40%;
    padding: 15px;
    margin-bottom: 10px;
    width: 20rem;
    border-radius: 10px;
    border: none;
   
}

button{
    width: 10rem;
    background-color: grey;
    color: #fff;
    transform: translateX(15.5rem);
}



button:hover{
    background-color: rgb(199, 191, 191);

}


/* redesigning the navhtml

body{
    background-color: darkcyan;
    margin: 0;
    padding: 0;
}
.nav{
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: gray;
    
    
}
li > a{
    color: black;
    text-decoration: none;
    margin: 10px ;
    padding: 20px 0 20px 0;
    border: 40px;
    
}
a:hover{
    display: inline-block;
    color: rgb(70, 67, 67);
   ;
}
.nav li{
    display: inline-block;
   font-size: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img{
    width: 500px;
    height: auto;
    margin-left: 150px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    text-align: center;
}
strong{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    margin-left: 250px;
    font-size: 30px;
}

.man{
    
} */
